body {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 20px;
  font-family: "calibri", sans-serif;
}

#starbot {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid rgb(30, 150, 243);
  color: black;
  overflow-y: hidden;
  resize: vertical;
  width: 400px;
  height: 680px;
  min-height: 300px;
  top:400px;
  left:250px;
  border-radius: 12px;
}

.starbot{
  flex-direction: row;
  display: flex;
  align-items: center;
}

.user_input{
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
}

#starbotheader {
  padding: 3px;
  padding-left: 10px;
  cursor: move;
  z-index: 10;
  background-color: rgb(33, 150, 243);
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

#starbotfooter{
  width: 95%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.bot, .user{
  max-width: 50px;
}


#dialogue{
  padding-left: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  /*height: 90%;
  max-height: 70%;*/
}

.dialogue_text{
  padding-left: 5px;
  padding-right: 5px;
}

#user_input{
  width: 90%;
  border: 1px solid rgb(30, 150, 243);
  border-radius: 5px;
  height: 25px;
}
#user_input:focus{
  border: 2px solid rgb(30, 150, 243);
  outline: none;
}

#go_button{
  width: 20px;
  padding-left: 5px;
}

.header{
  padding: 5px;
  max-height: 25px;
  cursor: pointer;
}

.header_div{
  padding: 5px;
  max-height: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: right; /*space-between;*/
  display: flex;
}

#settings{
  display: none;
  overflow-y: auto;
}

#enlarge{
  display: none;
}

#speaker_on{
  display: none;
}

.settings{
  padding: 5px;
}

#settings label{
  margin-top: 5px;
  padding-top: 5px;
  color: rgb(30, 150, 243);
  font-weight: bold;

}

#help_div{
  display: none;
  padding: 10px;
  overflow-y: auto;
  font-size: 0.900em;
}

#templates {
  position: fixed; 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%); 
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  color: black;
  overflow-y: auto;
  resize: vertical;
  width: 400px;
  height: 680px;
  top:370px; 
  left:270px;
  border-radius: 10px;
  
}

#templatesheader {
  padding: 3px;
  padding-left: 10px;
  cursor: move;
  z-index: 5;
  background-color: rgb(33, 150, 243);
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

#templates li{
  margin-right: 10px;
  margin-left: -10px;
}

#templates .sub{
  color: royalblue;
  font-weight: bold;
}
#templates .ins{
  color: purple;
  font-weight: bold;
}

.q01 {
  background-color: #c7dfff;
  padding-left: 5px;
  padding-right: 5px;
}
.q02 {
  background-color: #c2fdeb;
  padding-left: 5px;
  padding-right: 5px;
}
.q03 {
  background-color: #e3fdc2;
  padding-left: 5px;
  padding-right: 5px;
}
.q04 {
  background-color: #fdddc2;
  padding-left: 5px;
  padding-right: 5px;
}

.q05 {
  background-color: #c2f9fd;
  padding-left: 5px;
  padding-right: 5px;
}
.q06 {
  background-color: #fdc2c2;
  padding-left: 5px;
  padding-right: 5px;
}
.q07 {
  background-color: #e5c2fd;
  padding-left: 5px;
  padding-right: 5px;
}
.center{
  text-align: center;
}

#template_text{
  font-size: 0.9em;
}
