body {
  margin: 0 auto;
  max-width: 820px;
  padding: 0 20px;
  font-family: "calibri", sans-serif;
}

.interaction{
    margin:3px;
	margin-left:5px
}

div.tall {
	border: 2px solid #30ADFF;
	float:left; 
	width:390px;
	height:125px;
	margin:5px
}

div.short {
	border: 2px solid #30ADFF;
	float:left; 
	width:390px;
	height:105px;
	margin:5px
}


h3 {
	margin:5px
}

h2 {
	text-align:center;
	margin:5px
}

hr {
	display: none
}

button {
	margin-left:5px;
	margin-top:10px
}

select {
	margin-left:7px
}

#result {
	font-size:16px;
	font-weight: bold;
	margin-left:7px;
	margin-right:7px;
	margin-top:7px;
	color:green;
	height:20px;
	border:1px solid #009933;
	padding-bottom:5px;
	padding-top:5px;
	
}

#fuzzy_result {
	font-size:16px;
	font-weight: bold;
	margin-left:7px;
	margin-right:7px;
	margin-top:7px;
	color:green;
	height:20px;
	border:1px solid #009933;
	padding-bottom:5px;
	padding-top:5px;
	width:795px;
	
}

#syntesizer {
	
	border: 2px solid #30ADFF;
	float:left; 
	width:795px;
	height:135px;
	margin:5px
}

#rec_lang {
	
	border: 2px solid #30ADFF; 
	width:650px;
	margin:5px
}

.txt{
	width:770px;
	margin:7px;
	padding-top:5px;
	padding-bottom:5px;
}

label{
	margin-left:7px;
}

#mic{
 	float: right;
    margin-right: 10px;
	margin-top:5px;
	height: 30px;
 }
 
 .large {
	
	border: 2px solid #30ADFF;
	float:left; 
	width:795px;
	height:250px;
	margin:5px
}



